.active {
    color: #DE0530;
}

@media (max-width: 980px) {
    header {
        padding-inline: 50px;
    }
}

@media (max-width: 920px) {
    .search-box {
        padding-inline: 60px;
    }
}

@media (max-width: 840px) {
    header {
        padding-inline: 40px;
    }

    .topic-1 {
        display: none;
    }

    .topic-2 {
        display: block
    }

    .search-box {
        padding-inline: 40px;
    }
}

@media (max-width: 700px) {

    header,
    .dropdown {
        padding-inline: 25px;
    }

    .dashboard,
    .myorder,
    .mycart,
    .wishlist,
    .login {
        display: none;
    }

    .email,
    .phone,
    .myaccount {
        display: none;
    }

    .threebar {
        display: block;
    }

    .header-main {
        padding-bottom: 17px;
    }

}

@media (max-width: 580px) {
    .search-box {
        padding-inline: 25px;
    }
}

// @media (max-width: 530px) {
//     .header-main {
//         padding-bottom: 17px;
//     }
// }

@media (max-width: 370px) {

    header,
    .dropdown {
        padding-inline: 18px;
    }
}

.dropdown {
    transition: all 0.3s ease-in-out;
    // transform: translateY(-200%);
}