<footer class="bg-[#0c1a2c] px-20 py-8 text-white flex gap-32 justify-center ">
    <div class="w-[300px]">
        <h1 class="font-semibold text-lg pb-3">ABOUT US</h1>
        <div class="flex flex-col gap-y-2">
            <p class="font-extralight text-sm">Ecommerce is the buying and selling of goods or services on the Internet.
                It encompasses a wide variety of data, systems and tools for online buyers and sellers, including mobile
                shopping
            </p>
            <p class=" rounded-md font-extralight text-sm"><span class="text-sm text-[#DE0530] mr-2"><i
                        class="fa-regular fa-phone"></i></span>+91-9291803937 </p>
            <p class=" rounded-md font-extralight text-sm"><span class="text-sm text-[#DE0530] mr-2"><i
                        class="fa-regular fa-envelope"></i></span>ecommerce&commat;gmail.com </p>
            <p class=" rounded-md font-extralight text-sm"><span class="text-sm text-[#DE0530] mr-2"><i
                        class="fa-regular fa-location-dot"></i></span>Karaikal, Puducherry</p>
        </div>
    </div>

    <div>
        <div class="flex gap-x-3">
            <h1 class="font-semibold text-lg pb-3">CATAGORIES</h1>
            @if (categoryId!=null) {
            <div (click)="clearCategoryFilter()" class="mr-3 text-xl text-gray-400 hover:text-red-600"><i
                    class="fa-sharp fa-solid fa-circle-xmark"></i></div>
            }
        </div>
        <div class="flex flex-col gap-y-2">
            @for (category of categorylist; track $index) {
            <p (click)="filterCategory(category.id)"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">
                {{category.category|titlecase}}</p>
            }
        </div>
    </div>

    <div class="text-nowrap">
        <h1 class="font-semibold text-lg pb-3">CONNECT WITH US</h1>
        <div class="flex flex-col gap-y-2">
            <a href="https://www.facebook.com/"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">Facebook</a>
            <a href="https://www.instagram.com/"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">Instragram</a>
            <a href="https://x.com/?lang=en"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">Twitter</a>
        </div>
    </div>

    @if (token?.length>0) {
    <div class="text-nowrap">
        <h1 class="font-semibold text-lg pb-3">SERVICE</h1>
        <div class="flex flex-col gap-y-2">
            <p (click)="openMyAccountDialog()"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">My Account</p>
            @if(role === "admin"){
            <p routerLink="/dashboard" routerLinkActive="active"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">Dashboard</p>
            }
            @if(role === "user"){
            <p routerLink="/mycart" routerLinkActive="active"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">My Cart</p>
            <p routerLink="/myorder" routerLinkActive="active"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">My Orders</p>
            <p routerLink="/wishlist" routerLinkActive="active"
                class=" rounded-md font-extralight text-sm hover:underline hover:cursor-pointer">My Wishlist</p>
            }
        </div>
    </div>
    }
</footer>