/* Custom scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #f6f6f6;
    border-radius: 10px;
}

.error {
    font-size: 15px;
}

@media (min-width: 1400px) {
    // .address-order{
    //     // width: 100%;
    // }
}

@media (max-width: 1300px) {
    .checkout {
        justify-content: center;
        height: auto;
        flex-direction: column;
    }
      // .checkout {
    //     height: auto;
    //     flex-direction: column;
    //     // row-gap: 30px;
    // }


    .address-order {
        flex-direction: column;
    }

    .product {
        overflow-y: visible;
        margin-top: 35px;
        width: 100%;
    }

    .payment-bill {
        width: 100%;
        margin-top: 35px;
        margin-bottom: 20px;
        flex-basis: 38%;
    }

    .form {
        overflow-y: visible;
    }
}

@media (max-width: 1030px) {
    .error {
        font-size: 13px;
    }
}

@media (max-width: 980px) {
    .checkout {
        padding-inline: 50px;
    }
}

@media (max-width: 850px) {
    // .checkout {
    //     height: auto;
    //     flex-direction: column;
    //     // row-gap: 30px;
    // }



    // .desktop-product {
    //     display: none;
    // }

    // .mobile-product {
    //     display: block;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // }
}

@media (max-width: 840px) {
    .checkout {
        padding-inline: 40px;
    }
}

@media (max-width: 700px) {
    .main-div{
        padding-top: 115px;
    }
}

@media (max-width: 620px) {
    .checkout {
        padding-inline: 25px;
    }

    form {
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .product {
        min-width: 100px;
    }

    .payment-bill {
        min-width: 100px;
    }

    .error {
        font-size: 11px;
    }

    .button-box{
        button{
            font-size: 13px;
        }
    }
}

@media (max-width: 370px) {
    .checkout {
        padding-inline: 18px;
    }
}