<section class="flex flex-col justify-center items-center py-7">
    <h1 class="text-center font-bold text-2xl mb-5">{{data===null ? 'Create Product' :
        'Update Product'}}</h1>
    <form class="flex flex-col px-8 gap-3 max-[360px]:px-3.5 " [formGroup]="productCreate"
        (ngSubmit)="CreateOrUpdate()">

        <!-- Productname -->
        <div class="mb-2">
            <label class="text-base text-gray-500 font-medium">Product Name :</label>
            <input class="border-2 p-2 w-full rounded-md placeholder:font-medium mb-1" type="text"
                placeholder="Productname" id="productname" name="productname" formControlName="productname">
            @if ((isSubmitted && productCreate.get('productname')?.invalid)|| productCreate.get('productname')?.touched)
            {
            @if(productCreate.get('productname')?.hasError('required')){
            <p class="text-red-600">Enter the Product Name</p>
            }
            }
        </div>

        <!-- image -->
        <div class="mb-2">
            <label class=" text-base text-gray-500 font-medium">Image :</label>
            <div class="mt-2 mb-1">
                @if (data!==null) {
                <img class="w-[200px] h-[200px] rounded-md mb-5 border-2" src="{{data.product_image}}" alt="">
                }
                <label class="upload" for="image"><i class="fa-solid fa-upload"></i>
                    Upload-Image</label>
                <input class="border-2 p-2 w-full rounded-md placeholder:font-medium mb-1" type="file" id="image"
                    name="image" formControlName="image" multiple (change)="FileSelected($event)">
            </div>
            @if ((isSubmitted && productCreate.get('image')?.invalid)||
            productCreate.get('image')?.touched)
            {
            @if(productCreate.get('image')?.hasError('required')){
            <p class="text-red-600">Upload the image</p>
            }
            }
        </div>


        <!-- description -->
        <div>
            <label class="text-base text-gray-500 font-medium">Description :</label>
            <textarea class="border-2 p-2 w-full rounded-md placeholder:font-medium" placeholder="Description"
                id="description" name="description" formControlName="description" id="w3review" name="w3review" rows="4"
                cols="50"> </textarea>
            @if ((isSubmitted && productCreate.get('description')?.invalid)||
            productCreate.get('description')?.touched) {
            @if(productCreate.get('description')?.hasError('required')){
            <p class="text-red-600">Enter the Description</p>
            }
            }
        </div>

        <!-- Price -->
        <div class="mb-2">
            <label class="text-base text-gray-500 font-medium">Price :</label>
            <input class="border-2 p-2 w-full rounded-md mb-2" type="number" id="price" name="price"
                formControlName="price">
            @if ((isSubmitted && productCreate.get('price')?.invalid)|| productCreate.get('price')?.touched) {
            @if(productCreate.get('price')?.hasError('required')){
            <p class="text-red-600">Enter the Price</p>
            }
            }
        </div>

        <!-- category -->
        <mat-form-field>
            <mat-label for="cat_id">Category</mat-label>
            <mat-select id="cat_id" formControlName="cat_id">
                @for (category of categorylist; track $index) {
                <mat-option [value]="category.id">{{category.category}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if ((isSubmitted && productCreate.get('cat_id')?.invalid)|| productCreate.get('cat_id')?.touched) {
        @if(productCreate.get('cat_id')?.hasError('required')){
        <p class="text-red-600 mt-0.5">Select Category</p>
        }
        }
        <div class="py-1"></div>
        <!-- Stock -->
        <mat-form-field>
            <mat-label for="stock">Stock</mat-label>
            <mat-select id="stock" formControlName="stock">
                <mat-option value="In Stock">In Stock</mat-option>
                <mat-option value="Out of Stock">Out of Stock</mat-option>
            </mat-select>
        </mat-form-field>
        @if ((isSubmitted && productCreate.get('stock')?.invalid)|| productCreate.get('stock')?.touched) {
        @if(productCreate.get('stock')?.hasError('required')){
        <p class="text-red-600 mt-0.5">Select the Stock/Out of Stock</p>
        }
        }
        <br>
        <div class="flex justify-center items-center ">
            <button matDialogClose="true" type="button"
                class="cancel bg-slate-600 text-white w-[150px] py-2 text-xl rounded-full mr-7">Cancel</button>
            <button
                class="create w-[150px]  bg-red-600 text-white py-2 text-xl rounded-full">
                <div class="flex items-center justify-center gap-x-5">
                    @if(isLoading==true){
                    <div class="spinner"></div>
                    }
                    <div>{{isEdit ? 'Update' : 'Create'}}</div>
                </div>
            </button>
        </div>
    </form>
</section>


<!--! Template driven form -->

<!-- <section class="flex flex-col justify-center items-center py-7">
    <h1 class="text-center font-bold text-2xl mb-5">{{data===null ? 'Create Product' :
        'Update Product'}}</h1>
    <form class="flex flex-col px-8 gap-3 max-[360px]:px-3.5 " (ngSubmit)=" form.valid &&CreateProductssss()" #form="ngForm">

        Productname
        <div class="mb-2">
            <label class="text-base text-gray-500 font-medium">Product Name :</label>
            <input class="input border-2 p-2 w-full rounded-md placeholder:font-medium mb-1" type="text"
                placeholder="Productname" id="productname" name="productname"
                [(ngModel)]="productcreateform.productname" required #productname="ngModel"
                [class.error]="(form.submitted &&productname?.invalid )|| productname?.touched">
            @if ((form.submitted &&productname?.invalid )|| (productname?.touched&&productname?.invalid)) {
            <p class="text-red-600">Enter the Product Name</p>
            }
        </div>

        image
        <div class="mb-2">
            <label class=" text-base text-gray-500 font-medium">Image :</label>
            <div class="mt-2 mb-1">
                @if (data!==null) {
                <img class="w-[200px] h-[200px] rounded-md mb-5 border-2" src="{{data.product_image}}"
                    alt="">
                }
                <label class="upload" for="image"><i class="fa-solid fa-upload"></i>
                    Upload-Image</label>
                <input class="border-2 p-2 w-full rounded-md placeholder:font-medium mb-1" type="file" id="image"
                    name="image" multiple (change)="FileSelected($event)" [(ngModel)]="productcreateform.image" required
                    #image="ngModel" [class.error]="(form.submitted &&image?.invalid )|| image?.touched">
            </div>
            @if ((form.submitted &&image?.invalid )|| (image?.touched&&image?.invalid)) {
            <p class="text-red-600">Upload the image</p>
            }
        </div>


        description
        <div>
            <label class="text-base text-gray-500 font-medium">Description :</label>
            <textarea class="input border-2 p-2 w-full outline-none rounded-md placeholder:font-medium" placeholder="Description"
                id="description" name="description" rows="4" cols="50"
                [(ngModel)]="productcreateform.description" required #description="ngModel"
                [class.error]="(form.submitted &&description?.invalid )|| description?.touched"> </textarea>
            @if ((form.submitted &&description?.invalid)|| (description?.touched&&description?.invalid)) {
            <p class="text-red-600">Enter the Description</p>
            }
        </div>

        Price
        <div class="mb-2">
            <label class="text-base text-gray-500 font-medium">Price :</label>
            <input class="input border-2 p-2 w-full rounded-md mb-2" type="number" id="price" name="price"
                [(ngModel)]="productcreateform.price" required #price="ngModel"
                [class.error]="(form.submitted &&price?.invalid )|| price?.touched">
            @if ((form.submitted &&price?.invalid)|| (price?.touched&&price?.invalid)) {
            <p class="text-red-600">Enter the Price</p>
            }
        </div>

        category
        <mat-form-field>
            <mat-label for="cat_id">Category</mat-label>
            <mat-select id="cat_id" name="cat_id" [(ngModel)]="productcreateform.cat_id" required #cat_id="ngModel">
                @for (category of categorylist; track $index) {
                <mat-option [value]="category.id">{{category.category}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if ((form.submitted &&cat_id?.invalid)|| (cat_id?.touched&&cat_id?.invalid)) {
            <p class="text-red-600">Enter the Category</p>
            }
        <div class="py-1"></div>
        Stock
        <mat-form-field>
            <mat-label for="stock">Stock</mat-label>
            <mat-select id="stock" name="stock" [(ngModel)]="productcreateform.stock" required #stock="ngModel">
                <mat-option value="In Stock">In Stock</mat-option>
                <mat-option value="Out of Stock">Out of Stock</mat-option>
            </mat-select>
        </mat-form-field>
        @if ((form.submitted &&stock?.invalid)|| (stock?.touched&&stock?.invalid)) {
            <p class="text-red-600">Enter the Stock</p>
            }
        <br>
        <div class="flex justify-center items-center ">
            <button matDialogClose="true" type="button"
                class="cancel bg-slate-600 text-white px-12 py-2 text-xl rounded-full mr-7">Cancel</button>
            <button class="create bg-red-600 text-white px-14 py-2 text-xl rounded-full">{{isEdit ? 'Update' :
                'Create'}}</button>
        </div>
    </form>
</section> -->