input,.usericon,.passwordicon{
    background-color: rgba(255, 255, 255, 0.377);
}

@media (max-width: 400px) {
    .signup-box{
        padding: 20px;
        width: 350px;
    }
}

@media (max-width: 350px) {
    .signup-box{
       width: 320px;
    }
}