<app-header #header (searchFilter)="searchFilter()" (clearSearchFilter)="clearSearchFilter()"></app-header>
<div class="main-div h-full flex flex-col justify-between pt-[110px]">
    <div class="">
    <!-- image slider -->
    <section class="slider_container">
        <section class="slider">
            <div class="slide one">
                <img src="images/slide images/slide-1.png" alt="">
            </div>
            <div class="slide two">
                <img src="images/slide images/slide-2.png" alt="">
            </div>
            <div class="slide three">
                <img src="images/slide images/slide-3.png" alt="">
            </div>
            <div class="slide four">
                <img src="images/slide images/slide-4.png" alt="">
            </div>
            <div class="slide five">
                <img src="images/slide images/slide-5.png" alt="">
            </div>
        </section>
    </section>
        <section class="product-list px-20 py-8">
            <!-- category filter -->
            <div class="category flex items-center mb-6 overflow-x-scroll">
                @if(categoryId!=null){
                <button type="button" (click)="clearCategoryFilter()"
                    class="bg-[#DE0530] text-white border-2 border-[#DE0530] text-nowrap hover:bg-white hover:text-[#DE0530] focus:bg-white  focus:text-[#DE0530] font-normal px-4 py-1.5 rounded-md mr-5">
                    <i class="fa-regular fa-filter mr-2"></i>All</button>
                }
                <!-- @if (categoryId!=null) {
            <div (click)="clearCategoryFilter()" class="mr-3 text-2xl text-gray-400 hover:text-red-600"><i
                    class="fa-sharp fa-solid fa-circle-xmark"></i></div>
            } -->
                @for (category of categorylist; track $index) {
                <button type="button" (click)="filterCategory(category.id)"
                    class="bg-[#DE0530] text-white border-2 border-[#DE0530] text-nowrap hover:bg-white hover:text-[#DE0530] focus:bg-white  focus:text-[#DE0530] font-normal px-4 py-1.5 rounded-md mr-5">
                    <i class="fa-regular fa-filter mr-2"></i>{{category.category|titlecase}}</button>
                }
            </div>
            <!-- product list -->
            <div class="product-boxes flex flex-wrap gap-x-8 gap-y-8">
                @if (products.length>0) {
                @for (product of products| paginate: { itemsPerPage: 8, currentPage: p }; track $index ) {
                <div class="box bg-white p-3 rounded-lg relative w-[250px] border-2">
                    <div>
                        <!-- /images/no-image-3.webp  -->
                        <!-- @for (item of product.images; track $index) {
                    <img class="w-full h-[180px] rounded-md border " src="{{item}}" alt="">
                     } -->
                        <img class="w-full h-[180px] rounded-md border " src="{{product.image}}" alt="">
                        @if (product.isWhislist===0) {
                        <button (click)="addToWishlist(product)"
                            [disabled]="token?.length<=0 || role==='admin' || role==='super_admin'"
                            class="disabled:text-gray-300 absolute top-3 right-3 text-2xl text-gray-300 hover:text-[#DE0530]  px-2 pt-1.5 pb-0.5 rounded-md">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                        }@else {
                        <button (click)="addToWishlist(product)"
                            class="text-[#DE0530] absolute top-3 right-3 text-2xl px-2 pt-1.5 pb-0.5 rounded-md">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                        }
                        <div (click)="viewProduct(product.product_id)" class="cursor-pointer">
                            <h1 class="font-medium pt-3.5 pb-2">{{product.productname.slice(0,20)|titlecase}}...</h1>
                            <p class="text-xs text-gray-400">{{product.description.slice(0,60)}}...</p>
                            <div class="flex items-center pt-2 gap-x-5">
                                <p class=" font-medium">₹{{product.price}}</p>
                                @if (product.stock==='In Stock') {
                                <p class="text-[12px] text-green-600 font-semibold">{{product.stock|uppercase}}</p>
                                }
                                @if (product.stock==='Out of Stock') {
                                <p class="text-[12px] text-[#DE0530] font-semibold">{{product.stock|uppercase}}</p>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center mt-5">
                        @if (product.isAdded===0) {
                        <button type="button" (click)="addtoCart($index,product)"
                            [disabled]="product.stock==='Out of Stock' || role==='admin' || role==='super_admin' || token?.length<=0"
                            class="disabled:bg-[#de053186] disabled:text-[#ffffffe0] disabled:border-[#de053111] text-[#DE0530] border-2 border-[#DE0530] font-medium rounded-md text-sm px-5 py-0.5 hover:bg-[#DE0530] hover:text-white">
                            {{cartProductCheck.includes(product.product_id) ? 'Added' : 'Add to Cart'}}
                        </button>
                        }@else {
                        <button type="button" (click)="addtoCart($index,product)"
                            [disabled]="product.stock==='Out of Stock'"
                            class="disabled:bg-[#de053186] disabled:text-[#ffffffe0] disabled:border-[#de053111] text-white border-2 border-green-600 bg-green-600 font-medium rounded-md text-sm px-5 py-0.5">
                            Added
                        </button>
                        }
                    </div>
                </div>
                }
                }@else {
                <p class="text-2xl font-medium italic">Product Not Available.....</p>
                }
            </div>
            @if (products.length>8) {
            <div class="mt-8 px-5 flex justify-center items-center">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            }
        </section>
        
    </div>
    <app-footer #footer (filterCategoryFooter)="filterCategoryFooter()"
            (clearCategoryFilterFooter)="clearCategoryFilterFooter()"></app-footer>
</div>

@if(!isLoading){
<div class="main-loader">
    <div class="loader">
        <div class="lds-spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
}