@media (max-width: 1140px) {
    img {
        min-width: 500px;
    }
}

@media (max-width: 1020px) {
    .view-product {
        flex-direction: column;
    }

    img {
        margin-bottom: 27px;
    }
}

@media (max-width: 980px) {
    .view-product {
        padding-inline: 50px;
    }
}

@media (max-width: 840px) {
    .view-product {
        padding-inline: 40px;
    }
}

@media (max-width: 700px) {
    .view-product{
        margin-top: 85px;
    }
}


@media (max-width: 620px) {
    .view-product {
        padding-inline: 25px;
    }
}

@media (max-width: 550px) {
    img {
        width: 500px;
        height: 400px;
        min-width: 1px;
        min-height: 1px;
    }
}

@media (max-width: 450px) {
    img {
        height: 300px;
    }
}

@media (max-width: 370px) {
    .view-product {
        padding-inline: 18px;
    }
}

@media (max-width: 350px) {
    img {
        height: 280px;
    }
    .cart{
        padding-inline: 25px;
    }
}